[Unit]
Type=simple
Description=Mounts a rclone remote
AssertPathExists=%h/mount

[Service]
Type=simple
ExecStart=rclone mount --vfs-cache-mode full %i:/ ~/mount/%i

[Install]
Wants=network-online.target

