# This is Git's per-user configuration file.
[user]
	email = Techcable@techcable.net
	name = Techcable
	signingkey = D7B98ADFF827CD17

[commit]
	gpgsign = true

[core]
	editor = nvim
	excludesFile = ~/.config/git/ignore

[tag]
    forceSignAnnotated = true
    gpgSign = true

[pull]
	ff = only

[init]
    defaultBranch = master

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[alias]
    root = rev-parse --show-toplevel
    difft = difftool --tool=difftastic
    kdiff = difftool --tool=kitty
	diffs = diff --staged
[difftool]
    prompt = false
    trustExitCode = true
[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
    cmd = kitty kitty +kitten diff $LOCAL $REMOTE
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
# Stacked git: https://stacked-git.github.io/
[stgit]
	gpgsign = false
