# This is Git's per-user configuration file.
[user]
	email = git@techcable.net
	name = Techcable
	signingkey = D7B98ADFF827CD17

[commit]
	gpgsign = true

[core]
	editor = nvim
	excludesFile = ~/.config/git/ignore
    fsmonitor = true

[tag]
    forceSignAnnotated = true
    gpgSign = true

[pull]
	ff = only

[init]
	defaultBranch = master

[alias]
    root = rev-parse --show-toplevel
    difft = difftool --tool=difftastic
    kdiff = difftool --tool=kitty
	diffs = diff --staged
	unstage = git restore --staged
[difftool]
	prompt = false
    trustExitCode = true
[mergetool]
	prompt = false
[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
    cmd = kitty kitty +kitten diff $LOCAL $REMOTE
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
# Stacked git: https://stacked-git.github.io/
[stgit]
    gpgsign = false
# nbdime: diff for jupyter notebooks
#
# Must be enabled per-repo in the .gitattributes
# See docs: https://nbdime.readthedaocs.io/en/latest/
[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
