" Use regular IDEA copy/paste for vim copy commands
" I believe this is the default
set cp ideaput
" When to enable select mode
" Available options:
" mouse - When using the mouse
" key - When using shifted special keys (cursor keys, End,
"                                        Home. Page Up,
"                                        and PPage down)
" cmd - When using "v", "V", or <C-V>
" ideaselection - When IDE magic picks a selection
"
" NOTE: Throwing myself into the pool, without knowing
" how to swim. 24 hour flat test YOLO (6/19/2021)
:set "mouse,key,cmd,ideaselection"
set showmode "MODE:"
" Smart join command, perfomed using IntelliJ magic
:set ideajoin

" Use IdeaVim-EasyMotion: https://github.com/AlexPl292/IdeaVim-EasyMotion
set easymotion

" Use IdeaVim-Sneak: https://plugins.jetbrains.com/plugin/15348-ideavim-sneak
" Port of vim-sneak: https://github.com/justinmk/vim-sneak
set sneak

" Use IdeaVim-QuickScope: https://plugins.jetbrains.com/plugin/19417-ideavim-quickscope
" Port of quick-scope: https://github.com/unblevable/quick-scope
"
" Must come after `set sneak`
set quickscope

" Use Which-Key plugin: https://plugins.jetbrains.com/plugin/15976-which-key
" Port of vim-which-key: https://github.com/liuchengxu/vim-which-key
set which-key

